html,
body {
  background-color: black;
  margin: 0;
  padding: 0;  
  text-align: center;
}

canvas {
  border: 1px solid black;
  background-image: url(assets/media/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

ul{
  color:black;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  list-style:none;
  display: flex;
  justify-content: space-evenly;
}

#game {
  width: 100%;
  text-align: center;
  visibility: visible; 
  /* visibility: hidden; */
}

#gameOver{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* visibility: visible; */
}

#gameOverImg{
  width: 750px;
  height: 450px;
  background-image: url(assets/media/gameover.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -450px;
}

#life-container{
  position: relative;
  text-align: center;
  color: white;
}

#life{
  position: absolute;
  top: 30%;
  left: 5%;
}

#restart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.album {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.album img{
  border: 2px solid white;
  border-bottom: 40px solid white;
  margin: 10px;

}

.button {
  color: blue;
  background-color: rgb(192, 127, 43);
  border: solid 0.5px black;
  box-shadow: 3px 3px 10px rgb(80, 78, 78);
  border-radius: 5px;
}

.catched{
  display: inline-block;
  color:black;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;  
  text-decoration: underline;
}
.catched ul{
  display: flex;
  justify-content: center;
}

.counter{
  border-radius: 50%;
  padding: 1.5%;
  opacity: 0.7;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

.gameZone {  
  font-size: 10px;
  background-image: url(assets/media/not-used/ocean-sea-underwater-background-empty-bottom_107791-785.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  margin-bottom: -20px;
}
.title img {
  width: 8rem;
  height: 3rem;
  margin-right: 100px;
  margin-bottom: -30px;
}
.title h1 {
  display: inline-block;
  margin-right: 100px;
}
.title h2 {
  margin-bottom: -25px;
}